/*
 * The discussionlist in the view.php
 */
.moodleoverflowheaderlist {
    border-collapse:separate;
    border-style:solid;
    border-width:1px;
    margin-top:10px;
    width:100%;
}
.moodleoverflowheaderlist td {
    border-style:solid;
    border-width:1px 0 0 1px;
}
.moodleoverflowheaderlist th.header.replies .iconsmall {
    margin:0 .3em;
}
.moodleoverflowheaderlist .picture {
    width:35px;
}
.moodleoverflowheaderlist .discussion .starter {
    vertical-align:middle;
}
.moodleoverflowheaderlist .discussion .pinned img {
    padding:5px;
}
.moodleoverflowheaderlist .discussion .lastpost {
    text-align:right;
    white-space:nowrap;
}
.moodleoverflowheaderlist .replies, .moodleoverflowheaderlist .discussion .author {
    white-space:nowrap;
}
.moodleoverflowheaderlist thead .discussionsubscription {
    text-align:center;
}
.moodleoverflowheaderlist tbody tr:nth-of-type(odd) {
    background-color:#fafafa;
}
.moodleoverflowheaderlist {
    background-color:#f9feff;
}
.moodleoverflowheaderlist .table-active:hover {
    background-color:#dff8ff;
}
.moodleoverflowheaderlist .table-active:hover>td,.moodleoverflowheaderlist .table-active:hover>th {
    background-color:#dff8ff;
}
.moodleoverflowheaderlist .table-success:hover {
    background-color:#d0e9c6;
}
.moodleoverflowheaderlist .table-success:hover>td,.moodleoverflowheaderlist .table-success:hover>th {
    background-color:#d0e9c6;
}
.moodleoverflowheaderlist .table-info:hover {
    background-color:#c4e3f3;
}
.moodleoverflowheaderlist .table-info:hover>td,.moodleoverflowheaderlist .table-info:hover>th {
    background-color:#c4e3f3;
}
.moodleoverflowheaderlist .table-warning:hover {
    background-color:#faf2cc;
}
.moodleoverflowheaderlist .table-warning:hover>td,.moodleoverflowheaderlist .table-warning:hover>th {
    background-color:#faf2cc;
}
.moodleoverflowheaderlist .table-danger:hover {
    background-color:#ebcccc;
}
.moodleoverflowheaderlist .table-danger:hover>td,.moodleoverflowheaderlist .table-danger:hover>th {
    background-color:#ebcccc;
}
.moodleoverflowheaderlist,.moodleoverflowheaderlist td {
    border:none;
}
.moodleoverflowheaderlist thead .header,.moodleoverflowheaderlist tbody .discussion td {
    padding-left:.5em;
    padding-right:.5em;
    vertical-align:top;
    white-space:normal;
}
.moodleoverflowheaderlist thead .header {
    vertical-align:top;
    white-space:normal;
}
.moodleoverflowheaderlist thead .header.replies {
    text-align:center;
}
.moodleoverflowheaderlist thead .header.lastpost {
    text-align:right;
}
.moodleoverflowheaderlist thead .header th.discussionsubscription,.moodleoverflowheaderlist tbody .discussion td.discussionsubscription {
    padding-left:.5em;
    padding-right:.5em;
    width:16px;
}
.moodleoverflowheaderlist .discussion .author,.moodleoverflowheaderlist .discussion .replies,.moodleoverflowheaderlist .discussion .lastpost {
    white-space:normal;
}
.moodleoverflowheaderlist .discussion .discussionsubscription,.moodleoverflowheaderlist .discussion .replies {
    text-align:center;
}
.moodleoverflowheaderlist .discussion .topic,.moodleoverflowheaderlist .discussion .discussionsubscription,.moodleoverflowheaderlist .discussion .topic.starter,.moodleoverflowheaderlist .discussion .picture,.moodleoverflowheaderlist .discussion .author,.moodleoverflowheaderlist .discussion .replies,.moodleoverflowheaderlist .discussion .lastpost {
    vertical-align:top;
}

/*
 * The form to post new messages.
 */
.moodleoverflowaddnew {
    margin-bottom:20px;
}
#newdiscussionform {
    float:left;
    text-align:left;
    white-space:nowrap;
}


/*
 * The styles for the discussion.php
 */
.moodleoverflowpost {
    display:block;
    position:relative;
    margin:0 0 1em 0;
    padding:0;
    border:1px solid #000;
    max-width:100%
}
.moodleoverflowpost .row {
    width:100%;
    position:relative
}
.moodleoverflowpost .row .left {
    float:left;
    width:43px;
    overflow:hidden
}
.moodleoverflowpost .row .left .votes {
    text-align:center;
    display:block;
    margin:0px 8px 0px 0px !important;
}
.moodleoverflowpost .row .left .votes p {
    margin-top: 0;
    margin-bottom: 0;
}
.moodleoverflowpost .row .left .votes .icon {
    width: 24px;
    height: 24px;
    color: #00aa00;
    margin: 0px !important;
}
.moodleoverflowpost .row .topic,.moodleoverflowpost .row .content-mask,.moodleoverflowpost .row .options {
    margin-left:43px
}
.moodleoverflowpost .picture img {
    margin:4px
}
.moodleoverflowpost .options .commands,.moodleoverflowpost .content .attachments,.moodleoverflowpost .options .footer,.moodleoverflowpost .options .link {
    text-align:right
}
.moodleoverflowpost .options .moodleoverflow-post-rating {
    float:left
}
.moodleoverflowpost .content .posting {
    overflow:auto;
    max-width:100%
}
.moodleoverflowpost .content .attachedimages img {
    max-width:100%
}
.moodleoverflowpost .post-word-count {
    font-size:.85em;
    font-style:italic
}
.moodleoverflowpost .shortenedpost .post-word-count {
    display:inline;
    padding:0 .3em
}

:target~.moodleoverflowpost:before {
    display:block;
    content:"";
    width:4px;
    position:absolute;
    background:#0070a8;
    left:-1px;
    top:-1px;
    bottom:-1px
}

.moodleoverflowpost {
    position:relative;
    display:block;
    margin-bottom:5px;
    background-color:#fff;
    border-radius:0;
    border:1px solid rgba(238,238,238,1);
}


.moodleoverflowpost.statusboth:before {
    display:block;
    content:"";
    width:4px;
    position:absolute;
    background:linear-gradient(80deg, rgba(234,133,22,1) 50%, rgba(112,160,52,1) 50%);
    left:-1px;
    top:-1px;
    bottom:-1px;
}
.moodleoverflowpost.statusteacher:before {
    display:block;
    content:"";
    width:4px;
    position:absolute;
    background:rgba(234, 133, 22,1);
    left:-1px;
    top:-1px;
    bottom:-1px;
}
.moodleoverflowpost.statusstarter:before {
    display:block;
    content:"";
    width:4px;
    position:absolute;
    background:rgba(112, 160, 52,1);
    left:-1px;
    top:-1px;
    bottom:-1px;
}


.moodleoverflowpost>.list-group:first-child .list-group-item:first-child {
    border-top-right-radius:0;
    border-top-left-radius:0
}
.moodleoverflowpost>.list-group:first-child .list-group-item:first-child {
    border-top-right-radius:0;
    border-top-left-radius:0
}
.moodleoverflowpost>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0
}

#region-main>.moodleoverflowpost {
    overflow-x:auto;
    overflow-y:visible;
    min-height:45rem
}





.moodleoverflowpost {
    padding:6px
}
.moodleoverflowpost .header {
    margin-bottom:3px
}
.moodleoverflowpost .picture img {
    margin:3px
}
.moodleoverflowpost .picture img.userpicture {
    margin-left:3px;
    margin-right:10px
}
.moodleoverflowpost .content .posting.fullpost {
    margin-top:8px
}
.moodleoverflowpost .row .topic,.moodleoverflowpost .row .content-mask,.moodleoverflowpost .row .options {
    margin-left:48px
}
.moodleoverflowpost .row.side {
    clear:both
}
.moodleoverflowpost .row .left {
    width:48px
}
.moodleoverflowpost .options .commands {
    margin-left:0
}
.moodleoverflowpost .options .moodleoverflow-post-rating .icon {
    width: 24px;
    height: 20px;
}
.moodleoverflowpost .subject {
    font-weight:700
}

.moodleoverflowpost.unread .row.header, span.unread {
    background-color:#ffd
}
.moodleoverflowpost.unread .row.header {
    border-bottom:1px solid #ddd
}


.moodleoverflowpost .row {
    margin-left:0!important
}
.moodleoverflowpost .row:before,.moodleoverflowpost .row:after {
    content:none
}

.moodleoverflowpost .topic .author {
    color: #848d95;
}
.moodleoverflowpost .topic .author .icon {
    margin-right: 0px;
}


.moodleoverflowheaderlist .discussion .topic .icon {
    margin-left: 0px;
}

.indent {
    margin-left:6%;
}
.tmargin {
    margin-top: 20px;
}

#page-mod-moodleoverflow-index .subscription {
    float: right;
    text-align: right;
    white-space: nowrap;
    margin: 5px 0;
}

#page-mod-moodleoverflow-index span.unread img {
    margin-left: 5px;
    vertical-align: middle;
    border-style: none;
}