
{{! Print an anchor if the post is the first unread post of the discussion. }}
{{# isfirstunread}}
    <a id="unread"></a>
{{/ isfirstunread}}

{{! Print the anchor to the post. }}
<a id="p{{ postid }}"></a>

{{! Start the post. Mark it read or unread. }}
<div class="moodleoverflowpost clearfix{{ postclass }}{{# isfirstpost}} firstpost starter{{/isfirstpost}}" role="region" aria-label="{{ discussionby }}">

    <table>
        <tbody>
        <tr>
            <td class="votecell">
                <div class="votes">
                    <a href="{{{ upvotelink }}}">{{# pix}} vote/up, moodleoverflow {{/ pix}}</a>
                    <p>{{ votes }}</p>
                    <a href="{{{ downvotelink }}}">{{# pix}} vote/down, moodleoverflow {{/ pix}}</a>
                </div>
            </td>
            <td class="answercell">
                <div class="post-text">
                    {{{ postcontent }}}
                </div>

                <table style="width: 100%">
                    <tr>
                        <td>
                            <div class="comment-by">
                                {{{ bytext }}}
                            </div>
                        </td>
                        <td>
                            <div class="comment-commands">
                                {{{ commands }}}
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        </tbody>
    </table>

</div>