{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_moodleoverflow/discussions

  Moodleoverflow discussion_list template.
  The purpose of this template is to render a list of discussions for the view.php.

  Example context (json):
  {
  }
}}

{{! There are no discussions. Print the string that specifies it. }}
{{^hasdiscussions}}
    <div class="moodleoverflowdiscussions" xmlns="http://www.w3.org/1999/html">
        ( {{#str}} nodiscussions, moodleoverflow {{/str}} )
    </div>
{{/hasdiscussions}}

{{! There are discussions. Start to print the table. }}
{{#hasdiscussions}}

    {{#discussions}}
        <div class="moodleoverflowdiscussion d-flex border p-2 mb-3" data-moodleoverflow-postid="{{postid}}">
            <div class="leftbox text-center mr-2">
                <div class="votes text-center mb-1">
                    {{> mod_moodleoverflow/postvoting }}
                </div>
                <div class="status moodleoverflow-icon-no-margin">
                    {{# questionunderreview }}
                        {{#pix}}i/duration, moodle, {{#str}}pending_review, mod_moodleoverflow{{/str}}{{/pix}}
                    {{/ questionunderreview }}
                    {{^ questionunderreview }}
                        {{#markedsolution}}
                            <a href="{{teacherlink}}">{{! avoid whitespace
                                !}}{{# pix}} i/status-solved, moodleoverflow, {{#str}}containsteacherrating, moodleoverflow{{/str}} {{/ pix}}{{!
                            !}}</a>
                        {{/markedsolution}}
                        {{#markedhelpful}}
                            <a href="{{starterlink}}">{{! avoid whitespace
                                !}}{{# pix}} i/status-helpful, moodleoverflow, {{#str}}containsstarterrating, moodleoverflow{{/str}} {{/ pix}}{{!
                            !}}</a>
                        {{/ markedhelpful }}
                    {{/ questionunderreview }}
                </div>
                <div class="d-flex flex-colum flex-wrap justify-content-around">
                    {{# canreview }}
                        {{# needreview }}
                            <div class="reviews my-1">
                                    <a href="{{{reviewlink}}}" class="text-danger bold"
                                       title="{{#str}}amount_waiting_for_review, mod_moodleoverflow, {{needreview}}{{/str}}">
                                        {{#pix}}i/commenting, mod_moodleoverflow{{/pix}}{{ needreview }}
                                    </a>
                            </div>
                        {{/ needreview }}
                    {{/ canreview }}
                    <div class="replies my-1" title="{{#str}}answers, mod_moodleoverflow, {{replyamount}}{{/str}}">
                        <span><span class="reply-correction">{{#pix}}i/reply, mod_moodleoverflow {{/pix}}</span>{{ replyamount }}</span>
                    </div>
                </div>

            </div>
            <div class="w-100 d-flex flex-column justify-content-between">
                <div class="d-flex justify-content-between">
                    <a class="subject mb-3 mr-3" href="{{{subjectlink}}}">{{{ subjecttext }}}</a>

                    <div class="pt-2 text-right">
                        {{#cansubtodiscussion}}
                            <div class="discussionsubscription">{{{discussionsubicon}}}</div>
                        {{/cansubtodiscussion}}
                        {{#canmovetopic}}
                        <div class="discussionmove"><a href='{{ linktopopup }}'>{{#pix}} i/arrow-right, core, {{#str}}movetopicicon, moodleoverflow{{/str}} {{/pix}}</a></div>
                        {{/canmovetopic}}

                        {{#unread}}
                            <div class="mod_moodleoverflow-no-wrap unread-part d-flex align-items-baseline">
                                <a class="mark-read" href="{{markreadlink}}"
                                   title="{{#str}}markallread, moodleoverflow{{/str}}">
                                    {{#pix}}i/delete, core {{/pix}}
                                </a>
                                <a class="d-inline-block mt-3" href="{{ unreadlink }}"
                                   title="{{#str}}amount_unread_posts_in_discussion, mod_moodleoverflow, {{unreadamount}} {{/str}}">
                                    <span class="fa fa-envelope icon mr-0 moodleoverflow-icon-1_5x text-muted">
                                    </span><span class="unread-bubble">
                                        {{ unreadamount }}
                                    </span>
                                </a>
                            </div>
                        {{/unread}}
                    </div>
                </div>
                <div class="d-flex justify-content-between flex-wrap moodleoverflow-gap-small">
                    {{#userlink}}
                        <a href="{{{userlink}}}" class="user-info d-flex questioner px-2 py-1 align-items-center">
                    {{/userlink}}
                    {{^userlink}}
                        <div class="user-info d-flex questioner px-2 py-1 align-items-center">
                    {{/userlink}}

                    {{# picture }}
                            <div class="user-avatar">
                                {{{ picture }}}
                            </div>
                        {{/ picture }}
                        <div class="user-details">
                            {{{ username }}}
                        </div>
                    {{^userlink}}
                        </div>
                    {{/userlink}}
                    {{#userlink}}
                        </a>
                    {{/userlink}}
                    <div class="d-flex flex-wrap align-items-center">
                        <span class="text-muted">{{#str}}lastpost, mod_moodleoverflow{{/str}}:</span>
                        <div>
                            <a href="{{{lastpostlink}}}" class="user-info d-flex px-2 py-1 align-items-center">
                                {{# lastpostuserpicture }}
                                    <div class="user-avatar">
                                        {{{ lastpostuserpicture }}}
                                    </div>
                                {{/ lastpostuserpicture }}
                                <div class="user-details line-height-3">
                                    {{{ lastpostusername }}}<br>
                                    {{{ lastpostdate }}}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/discussions}}

{{/hasdiscussions}}
