{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_moodleoverflow/post

  Moodleoverflow post template.
  The purpose of this template is to render a post in the discussion.

   Example context (json):
   {
   }
}}

{{! Print an anchor if the post is the first unread post of the discussion. }}
{{#isfirstunread}}
    <a id="unread"></a>
{{/isfirstunread}}

{{! Start the post. Mark it read or unread. }}
<div id="p{{postid}}" class="moodleoverflowpost {{#iscomment}}bg-light moodleoverflowcomment{{/iscomment}}
    border {{postclass}} {{#needsreview}}pendingreview{{/needsreview}}
    {{#isfirstpost}}firstpost starter{{/isfirstpost}}" role="region" aria-label="{{ discussionby }}"
    data-moodleoverflow-postid="{{postid}}">
    <div class="d-flex p-2 w-100">
        <div class="left-info text-center">
        {{#showvotes}}
            <div class="votecell onlyifreviewed">
                <div class="votes">
                    {{> mod_moodleoverflow/postvoting }}
                </div>
            </div>
        {{/showvotes}}
        {{^showvotes}}
            <div class="novotecell onlyifreviewed"></div>
        {{/showvotes}}
        {{#needsreview}}
            <div class="onlyifnotreviewed pr-2 moodleoverflow-icon-no-margin">
                {{#pix}}i/pending-big, mod_moodleoverflow,
                    {{#withinreviewperiod}}
                        {{#str}}pending_review, mod_moodleoverflow{{/str}}
                    {{/withinreviewperiod}}
                    {{^withinreviewperiod}}
                        {{#str}}pending_review_but_cannot_now, mod_moodleoverflow, {{reviewdelay}} {{/str}}
                    {{/withinreviewperiod}}
                {{/pix}}
            </div>
        {{/needsreview}}
            <div class="status moodleoverflow-icon-no-margin">
                    <span class="onlyifsolved">{{#pix}} i/status-solved, moodleoverflow, {{#str}}ratedbyteacher, moodleoverflow{{/str}} {{/pix}}</span>
                    <span class="onlyifhelpful">{{#pix}} i/status-helpful, moodleoverflow, {{#str}}ratedbystarter, moodleoverflow{{/str}} {{/pix}}</span>
            </div>
        </div>
        <div class="answercell d-flex flex-column">
            <div class="post-text">
                <a href="{{{permalink}}}" class="anchor" title="{{#str}}permalink, mod_moodleoverflow{{/str}}">
                    <i class="fa fa-hashtag text-muted icon moodleoverflow-icon-1_5x moodleoverflow-icon-no-margin"></i></a>
                {{{ postcontent }}}
            </div>
            <div class="attachments flex-grow-1">
                {{#attachments}}
                    {{#image}}
                        <img src="{{filepath}}" alt=""/>
                        <br>
                    {{/image}}
                    {{^image}}
                        <a class="icon-size-6" href="{{filepath}}">
                            {{{icon}}}
                        </a>
                        <a href="{{filepath}}">
                            {{filename}}
                        </a>
                    {{/image}}
                    <br>
                {{/attachments}}
            </div>
            <div class="post-info">
                <div class="leftbox {{questioner}}">
                    {{^iscomment}}
                        <div class="user-info">
                            {{# picture }}
                            <div class="user-avatar">
                                {{{ picture }}}
                            </div>
                            {{/picture}}
                            <div class="user-details">
                                {{{ byname }}} {{#showreputation}}{{#showrating}}({{#pix}}star, moodleoverflow, {{#str}}reputation, moodleoverflow{{/str}}{{/pix}}<span data-moodleoverflow-userreputation="{{byuserid}}">{{ byrating }}</span>){{/showrating}}{{/showreputation}}
                                <div class="user-action-time">
                                    {{ bydate }}
                                </div>
                                <div class="user-action-shorttime">
                                    {{byshortdate}}
                                </div>
                            </div>
                        </div>
                    {{/iscomment}}
                    {{#iscomment}}
                        <span class="text-muted">{{{ byname }}} - {{ byshortdate }}</span>
                    {{/iscomment}}
                </div>
                <div class="rightbox">
                    <div class="post-menu">
                        {{{ commands }}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#canreview}}
        {{#needsreview}}
            <div class="reviewrow p-2 text-center bg-gray">
                {{#withinreviewperiod}}
                    {{> mod_moodleoverflow/review_buttons }}
                {{/withinreviewperiod}}
                {{^withinreviewperiod}}
                    {{#str}}pending_review_but_cannot_now, mod_moodleoverflow, {{reviewdelay}} {{/str}}
                {{/withinreviewperiod}}
            </div>
        {{/needsreview}}
    {{/canreview}}
</div>
