{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_moodleoverflow/question

  Moodleoverflow question template.
  The purpose of this template is to render the starting post of a discussion.

  Example context (json):
  {
  }
}}

{{! Print an anchor if the post is the first unread post of the discussion. }}
{{# isfirstunread}}
    <a id="unread"></a>
{{/ isfirstunread}}

{{! Print the anchor to the post. }}
<a id="p{{ postid }}"></a>

{{! Start the post. Mark it read or unread. }}
<div class="moodleoverflowpost clearfix{{ postclass }}{{# isfirstpost}} firstpost starter{{/isfirstpost}}" role="region"
     aria-label="{{ discussionby }}">

    <div>

        {{! {{^iscomment}}
        <div class="row header clearfix">

            {{! User picture. }}
            <div class="left picture">
                {{{ picture }}}
            </div>

            {{! Begin the topic column. }}
            <div class="topic{{# isfirstpost}} firstpost starter{{/isfirstpost}}">

                {{#isfirstpost}}
                {{! The subject. }}
                    <div class="subject" role="heading" aria-level="2">
                        {{ subject }}
                    </div>
                {{/isfirstpost}}

                {{! The author and date. }}
                <div class="author" role="heading" aria-level="2">
                    {{{ bytext }}}
                </div>

                {{^isfirstpost}}
                    <div class="subject" role="heading" aria-level="2">
                        &nbsp;
                    </div>{{/isfirstpost}}

            </div>
            {{! End of the topic column. }}

        </div>
        {{! End of the header row. }}

        {{! Row with the post content. }}
        <div class="row maincontent clearfix">

            {{! The author. }}
            <div class="left">

                <div class="votes">
                    {{> mod_moodleoverflow/postvoting }}
                </div>
            </div>

            {{! The message of the post. }}
            <div class="no-overflow">
                <div class="content">
                    <div class="posting fullpost">
                        {{{ postcontent }}}
                    </div>
                </div>

                {{! Row with attachments. }}
                <div class="attachments">

                    {{! Loop through all attachments. }}
                    {{#attachments}}

                    {{! Don't display images as links}}
                        {{#image}}
                            <img src="{{filepath}}" alt=""/>
                            <br>
                        {{/image}}
                        {{^image}}
                            <a href="{{filepath}}">
                                {{{icon}}}
                            </a>
                            <a href="{{filepath}}">
                                {{filename}}
                            </a>

                        {{/image}}

                        <br>
                    {{/attachments}}

                </div>
            </div>

        </div>
        {{! End of the post content row. }}
        <div class="row side">
            <div class="left">
                &nbsp;
            </div>

            {{! The commands. }}
            <div class="options clearfix">
                <div class="commands">
                    {{{ commands }}}
                </div>
            </div>

            {{! Print the footer if requested. }}
            {{# footer }}
                <div class="footer">
                    {{ footer }}
                </div>
            {{/footer}}

        </div>
    </div>
</div>